[submodule "uor-aiml-coursework"]
	path = uor-aiml-coursework
	url = https://github.com/RJaikanth/uor-aiml-coursework/
[submodule "uor-appliedPython-coursework"]
	path = uor-appliedPython-coursework
	url = https://github.com/RJaikanth/uor-appliedPython-coursework
